 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 436px;
}

.u-section-1 .u-shape-1 {
  height: 149px;
  margin-bottom: 0;
  margin-top: 60px;
  background-image: none;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 1136px;
  margin: -69px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(5, calc(20% - 8px));
  min-height: 236px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 10px;
}

.u-section-1 .u-image-1 {
  width: 120px;
  height: 120px;
  background-image: url("images/733407999856d94181c4ee08f579ed55700ef6b27f3162c24fb40503b87e4d3a19b078178545b1f81b54af9ed17da610da3b7896db9f51cdae5c63_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 21px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 10px;
}

.u-section-1 .u-image-2 {
  width: 120px;
  height: 120px;
  background-image: url("images/8d8506b1d69c118027a79c71c998b8c5941408498ba3849edcfef60968874cf692ba20034e937d199a9bf4d51562bdcef7c0ba39f1f349b57e48b2_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 10px;
}

.u-section-1 .u-image-3 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("images/2c7f9f78db6e65ea7c066327c95ef197ec7431080e358fb37451fc2406b1805891bc3a8ea7bf90f47884b112a02297ff8bba274a73abaad0c09f1e_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 21px auto 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 10px;
}

.u-section-1 .u-image-4 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("images/60791f430eb4f3d772a160ac96bcffa3c6bc536ffb89dfbd4d1528606dbb04080eb534322ba31258f1c27eb6eceb16187055a541ed2172cb228af9_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 10px;
}

.u-section-1 .u-image-5 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("images/49b0ff60176b6d0576a14e1cce2a423c513a40cb1249bae384338e3caf67219b6a1d89ef514ff140b07d848a21f55738fa7649aea3503ee4bbccbb_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-1 .u-text-10 {
  margin: 21px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
    min-height: 498px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -74px;
    margin-bottom: -339px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 840px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1389px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -87px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1207px;
  }
}