 .u-section-1 {
     background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/d3e38b76cc35c7388bc3a97374d02e853c64ae9b8fc0b2dc5d1e838d2708f987a9973167e993527833053ed9ca650b644cb6eceb99c6fee044cb98_1280.png");
     background-position: 50% 50%;
 }
 
 .u-section-1 .u-sheet-1 {
     min-height: 193px;
 }
 
 .u-section-1 .u-btn-1 {
     font-size: 0.875rem;
     letter-spacing: 1px;
     border-style: none;
     font-weight: 700;
     text-transform: uppercase;
     background-image: none;
     animation-duration: 1000ms;
     box-shadow: 0 2px 8px 0 rgba(64, 64, 64, 1);
     margin: 70px auto 30px;
 }
 
 .u-section-1 .u-icon-1 {
     font-size: 1.5em;
     color: rgb(255, 255, 255) !important;
     margin-right: 13px;
     vertical-align: -2px;
 }
 
 .u-section-2 {
     background-image: none;
 }
 
 .u-section-2 .u-sheet-1 {
     min-height: 594px;
 }
 
 .u-section-2 .u-btn-1 {
     background-image: linear-gradient(to right, #d80c0c, #e02d2d);
     border-style: none;
     font-weight: 700;
     text-transform: uppercase;
     font-size: 0.9375rem;
     letter-spacing: 1px;
     box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
     margin: 30px auto 0;
     padding: 17px 145px 17px 144px;
 }
 
 .u-section-2 .u-btn-2 {
     background-image: linear-gradient(to right, #178d15, #178d15);
     border-style: none;
     font-weight: 700;
     text-transform: uppercase;
     font-size: 0.9375rem;
     letter-spacing: 1px;
     box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
     margin: 25px auto 0;
     padding: 17px 159px 17px 158px;
 }
 
 .u-section-2 .u-list-1 {
     grid-template-rows: auto;
     margin-top: 47px;
     margin-bottom: 60px;
 }
 
 .u-section-2 .u-repeater-1 {
     grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
     grid-gap: 10px 10px;
     min-height: 278px;
     grid-auto-columns: calc(25% - 7.5px);
 }
 
 .u-section-2 .u-container-layout-1 {
     padding: 30px;
 }
 
 .u-section-2 .u-text-1 {
     font-weight: 700;
     margin: 0 auto;
 }
 
 .u-section-2 .u-text-2 {
     margin: 20px 0 0;
 }
 
 .u-section-2 .u-icon-1 {
     width: 64px;
     height: 64px;
     color: rgb(71, 138, 201) !important;
     margin: 30px auto 0;
 }
 
 .u-section-2 .u-container-layout-2 {
     padding: 30px;
 }
 
 .u-section-2 .u-text-3 {
     font-weight: 700;
     margin: 0 auto;
 }
 
 .u-section-2 .u-text-4 {
     margin: 20px 0 0;
 }
 
 .u-section-2 .u-icon-2 {
     width: 64px;
     height: 64px;
     color: rgb(71, 138, 201) !important;
     margin: 30px auto 0;
 }
 
 .u-section-2 .u-container-layout-3 {
     padding: 30px;
 }
 
 .u-section-2 .u-text-5 {
     font-weight: 700;
     margin: 0 auto;
 }
 
 .u-section-2 .u-text-6 {
     margin: 20px 0 0;
 }
 
 .u-section-2 .u-icon-3 {
     width: 64px;
     height: 64px;
     color: rgb(71, 138, 201) !important;
     margin: 30px auto 0;
 }
 
 .u-section-2 .u-container-layout-4 {
     padding: 30px;
 }
 
 .u-section-2 .u-text-7 {
     font-weight: 700;
     margin: 0 auto;
 }
 
 .u-section-2 .u-text-8 {
     margin: 20px 0 0;
 }
 
 .u-section-2 .u-icon-4 {
     width: 64px;
     height: 64px;
     margin: 30px auto 0;
 }
 
 @media (max-width: 1199px) {
     .u-section-2 .u-btn-2 {
         margin-top: 313px;
     }
     .u-section-2 .u-list-1 {
         height: auto;
         margin-top: -241px;
         margin-bottom: 0;
     }
     .u-section-2 .u-repeater-1 {
         grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
         min-height: 229px;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-2 .u-btn-2 {
         margin-top: 449px;
     }
     .u-section-2 .u-list-1 {
         margin-top: -377px;
     }
     .u-section-2 .u-repeater-1 {
         min-height: 702px;
         grid-auto-columns: calc(50% - 5px);
     }
 }
 
 @media (max-width: 767px) {
     .u-section-2 .u-repeater-1 {
         grid-auto-columns: calc(100% - 0px);
     }
     .u-section-2 .u-container-layout-1 {
         padding-left: 10px;
         padding-right: 10px;
     }
     .u-section-2 .u-container-layout-2 {
         padding-left: 10px;
         padding-right: 10px;
     }
     .u-section-2 .u-container-layout-3 {
         padding-left: 10px;
         padding-right: 10px;
     }
     .u-section-2 .u-container-layout-4 {
         padding-left: 10px;
         padding-right: 10px;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-2 .u-repeater-1 {
         grid-template-columns: calc(50% - 5px) calc(50% - 5px);
         grid-auto-columns: 100%;
     }
 }
 
 .u-section-3 .u-sheet-1 {
     min-height: 456px;
 }
 
 .u-section-3 .u-text-1 {
     font-weight: 400;
     margin: 0 auto 60px;
 }