<template>
  <div class="connectdevice pa-10">
    <h1>This is where we can connect device</h1>

    <v-btn
      elevation="2"
      color="primary"
      v-on:click="greet"
    >
      Connect
    </v-btn>

  </div>
</template>

<script>
import myfunctions from './../functions.js';
export default {
  methods: {
    greet: async function(event) {
      // `event` is the native DOM event
      alert("Attempting to connect to ble devices");
      await navigator.bluetooth.requestDevice({
        acceptAllDevices: true,
        optionalServices: ['battery_service'] // Required to access service later.
      });
    }
  }
};
</script>